<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>388613688136-bt0bbrpehees00oqclhoa5gfbem0q61f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.388613688136-bt0bbrpehees00oqclhoa5gfbem0q61f</string>
	<key>API_KEY</key>
	<string>AIzaSyCnv8QhnBwun85KB-gN1yq59vVDB6ysdYo</string>
	<key>GCM_SENDER_ID</key>
	<string>388613688136</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kellyayo.viperDemo</string>
	<key>PROJECT_ID</key>
	<string>viperdemo-3ced3</string>
	<key>STORAGE_BUCKET</key>
	<string>viperdemo-3ced3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:388613688136:ios:ea382685db3b8eb581417d</string>
	<key>DATABASE_URL</key>
	<string>https://viperdemo-3ced3.firebaseio.com</string>
</dict>
</plist>